@import "tailwindcss";

@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton/optional/presets";
@import "@skeletonlabs/skeleton/themes/cerberus";

@layer base {
  body {
    font-family: "Inter", ui-sans-serif, system-ui, sans-serif;
  }

  code, pre {
    font-family: "JetBrains Mono", ui-monospace, monospace;
  }
}

body {
  /* OPTIONAL: Background Mesh Gradient */
  /* https://next.skeleton.dev/docs/design/themes#backgrounds */
  /* prettier-ignore */
  background-attachment: fixed;
  /* prettier-ignore */
  background-image:
    radial-gradient(at 0% 25%, color-mix(in oklab, var(--color-primary-500) 10%, transparent) 0px, transparent 30%),
    radial-gradient(at 15% 06%, color-mix(in oklab, var(--color-success-500) 5%, transparent) 0px, transparent 30%);
}
