---
// Recebe frontmatter automaticamente
const { frontmatter } = Astro.props;
import Layout from './Layout.astro';
---

<Layout>
	<main class="container mx-auto px-4 py-8 prose prose-skeleton">
		<h1 class="mb-2">{frontmatter.title}</h1>
		<p class="text-gray-500 mb-6">{frontmatter.description}</p>
		<slot />
	</main>
</Layout>

<style>
.prose-skeleton :where(h1, h2, h3, h4) {
	color: currentColor;
}
</style> 